* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* body {
    background-image: url(https://i.pinimg.com/originals/a7/fe/d7/a7fed72aa0bb9cdb8ce085ceb48abea5.gif);
    background-size: cover;
} */

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.judul {
    margin: 30px 0;
    letter-spacing: 4px;
    font-size: 35px;
}

span {
    color: rgb(156, 32, 32);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu {
    width: 30px;
    cursor: pointer;
    display: none;
}

nav {
    flex:1 ;
    text-align: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration:none;
    color: black;
    font-size: 15px;
}

nav ul li a:hover {
    font-weight: bold;
}

/* ul.navlist {
    display: none;
} */

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.text1 h1 {
    font-size: 50px;
    color: red;
}

.text1 h2 {
    font-size: 45px;
}

.text1 p {
    color: gray;
    font-size: 15px;
    letter-spacing: 2px;
    width: 60%;
}

.text2 {
    position: relative;
    display: flex;
    align-items: center;
}

.text2 .ning {
    width: 90%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 2px rgb(239, 75, 75);
}

.social {
    text-align: center;
}

.social img {
    width: 30px;
    margin: 20px;
    cursor: pointer;
}

.sidebar {
    display: none;
    width: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: gray;
    opacity: .9;
    transition: .3s;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li {
    padding: 25px;
}

.sidebar ul li:hover {
    background-color: red;
    transition: .3s;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check {
    display: none;
    position: relative;
    cursor: pointer;
}

/* .about-me {
    width: 50%;
} */

.about-me h1 {
    /* display: flex; */
    text-align: center;
    margin-top: 100px;
    /* margin-bottom: 50px; */
    color: red;
}


.about img {
    width: 30%;
    border-radius: 15px;
}


.lah {
    display: flex;
    justify-content: space-between;
}

.lah h2 {
    width: 50%;
    margin-top: 100px;
    text-align: center;
}

.skills h1 {
    color: red;
    text-align: center;
    margin-top: 100px;
}

.skills h2 {
    text-align: center;
}

.reward img {
    width: 400px;
}

.reward-space {
    display: flex;
    justify-content: space-between;
}

.reward h1 {
    color: red;
    text-align: center;
    margin-top: 100px;
}

.reward h2 {
    box-shadow: 5px 5px 5px 5px red;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


.contact {
    text-align: center;
    font-size: 50px;
    background-color: rgb(253, 136, 136);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.text-contact h1 {
    margin-top: 100px;
    font-size: 45px;
}

/* .mail {
    margin-top: 100px;
} */

/* .instagram {
    flex-direction: column;
}

.twitter {
    flex-direction: column;
} */

.kontak img {
    width: 50px;
}

.kontak {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.kontak a {
    text-decoration: none;
    color: black;
}

.duh1 {
    display: flex;

}

.duh1 p {
    padding: 20px 10px;
}

footer {
    background-color: rgb(229, 224, 224);
    width: 100%;
}

li {
    list-style-type: none;
}


.footer   {
    display: flex;
    margin: 50px 50px;
}

.text-footer {
    width: 40%;
}

.bawah {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 100px;
    font-size: 15px;
}   

.copy {
    text-align: center;
    padding: 30px;
    font-weight: bold;
}