@media screen and (max-width:600px) {
    /* nav ul {
        width: 100%;
        background: gray;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    } */

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }

    ul.navlist {
        display: none;
    }

    .menu {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: 0;
        width: 300vh;
        height: 40vh;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 50px;
        transition: 2s;
    }

    .navlist a {
        display: block;
    }
    
    .sidebar {
        display: block;
    }

    .row {
        display: block;
        flex-direction: column;
        justify-content: center;
    }

    .text1 p {
        width: 100%;
    }

    .text2 {
        justify-content: center;
    }

    .text2 .ning {
        margin-top: 50px;
        width: 50%;
    }
    

    .footer {
        display: block;
        margin: 50px 50px;
    }

    .text-footer {
        width: 100%;
    }

    .bawah {
        width: 80%;
        margin: 50px 50px;
    }

    .contact {
        border-radius: 15px;
    }

    .kontak {
        display: block;
        flex-direction: column;
        margin-top: 100px;
    }

    .instagram {
        margin-top: 20px;
    }

    .twitter {
        margin-top: 20px;
    }
    
    .judul {
        margin:30px 0
    }

    .contact h1 {
        font-size: 35px;
    }

    .lah img {
        display: none;
    }

    .lah h2 {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .reward-space {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dicoding {
        margin-top: 30px;
    }
}

@media screen and (max-width:450px) {
    .footer {
        display: block;
        margin: 50px 50px;
    }

    .text-footer {
        width: 100%;
    }

    .bawah {
        width: 80%;
        margin: 50px 20px;
    }

    .lah img {
        display: none;
    }

    .lah h2 {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .reward-space {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .te

    .dicoding {
        margin-top: 30px;
    }
}

@media screen and (max-width:355px){
    .footer {
        display: block;
        margin: 50px 50px;
    }

    .text-footer {
        width: 100%;
    }

    .bawah {
        width: 80%;
        margin: 50px 10px;
    }

    .lah img {
        display: none;
    }

    .lah h2 {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .reward-space {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:30px 30px;
    }

    .reward img {
        width: 300px;
    }

    /* .dicoding {
        margin-top: 30px;
    } */

    .Home {
        padding-left: -30px;
    }

    .help {
        padding-left: 30px;
    }
    
    .sosial {
        padding-left: 50px;
    }
}